#controls {
  margin: 30px 50px 30px;
}

table {
  margin: 0 50px 50px;
  text-align: left;
  vertical-align: middle;
  position: relative;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #f7f7f7;
  width: 5vw;
  height: 5vw;
  padding: 0.25rem;
}
th {
  /*background-size: cover;*/
  background-size: contain;
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-color: white;
  border: white;
}
.derechosHeader {
  width: 15vw;
}
.emptyCell {
  text-align: center;
  cursor: pointer;
}
