#controls {
  margin: 30px 50px 30px;
}

#here_table {
  align-items: center;
  display: flex;
}

table {
  margin: auto;
  text-align: left;
  vertical-align: middle;
  position: relative;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dfdede;
  width: 20vw;
  height: 2vw;
  padding: 0.25rem;
  text-align: center;
}

th {
  background-color: white;
  border: white;
}

.emptyCell {
  cursor: pointer;
}

.instructions {
  margin: auto;
  margin-top: 50px;
  width: 62vw;
  display: flex;
}

.instText {
  width: 90%;
}
.checkButton {
  width: 10%;
}
