

#here_table {
    align-items: center;
    display: flex;
  }
  
  table {
    margin: auto;
    margin-bottom: 35px;
    text-align: left;
    vertical-align: middle;
    position: relative;
    border-collapse: collapse;
    min-width: 900px;
  }
  
  th,
  td {
    border: 1px solid #dfdede;
    width: 20vw;
    height: 2vw;
    padding: 0.25rem;
    text-align: center;
  }
  
  th {
    background-color: white;
    border: white;
    padding: 5px;
  }
  
  .emptyCell {
    cursor: pointer;
  }

.instructions {
    margin: auto;
    margin-top: 50px;
    width: 95vw;
    display: flex;
    min-width: 900px;
  }
  
  #here_table_mujeres{
      width: 95vw;
      margin:auto;
  }

  #here_table_hombres{
    width: 95vw;
    margin:auto;
}
